

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :user %><br>
    <%= form.text_area :user_id,id: :article_user_id, value: current_user.id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
