<span id="notice"><%= notice %></span>

<%if !Article.all.empty? %>
<% puts "here calling@@@@@@@@2"%>
<%= render(:partial => "articles/recentUpload", :locals => {:article => Article.all.order("created_at DESC").first})%>
  <h3 style="text-align:center"> Other articles </h3>
<ul>


  <% @articles.each do |article| %>
  <br/>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 75%;margin-left:11%;margin-bottom:15px;background:grey;background-image: linear-gradient(white, grey);border-color:white">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title"><%=article.title%></h5>
      <p class="card-text"><%= article.body[0..article.body.length*0.25]+"...." %></p>
      <p class="card-text">Author: <%=article.user.email%></p>
      <%= link_to "Read More", article,class:"btn btn-primary" %><br/>
    </div>
  </div>

  <% end %>

  <div class="digg_pagination" style="background:none;margin-left:38%;margin-bottom:100px">

      <%= will_paginate @posts, :container => false %>
    </div>
</ul>
<%else%>
<br/><br/><br/>
<h5 style="text-align:center">No blogs to read!! Try creating one </h5>
<%end%>
